starship/cache/
goose/
configstore/
crush/
devin/
raycast/
nvim/lazy-lock.json
nvim/lazyvim.json
nvim/.luarc.json
nvim/.neoconf.json
image/
btop/
zed/
p10k config/
iterm2/
neofetch/
spicetify/
.DS_Store
